<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>
        Search a movie :
        <input v-model="filterText" />
        <button @click="reset">Reset</button>
      </h3>
      <h3>
        Sort movies by :
        <button @click="sortLowest">Least rated</button>
        <button @click="sortHighest">Most rated</button>
      </h3>
      <table>
        <thead>
          <tr>
            <th v-for="key in columns">
              {{key}}
            </th>
          </tr>

          <tr></tr>
        </thead>

        <tbody>
          <tr v-for="entry in filteredFilms">
            <td v-for="key in columns">
              {{entry[key]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="main.js"></script>
  </body>
</html>
